header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  background: #080b13;
  z-index: 2;
  font-family: arial !important;
  color: #c7d6ff;

  img {
    width: 160px;
   // animation: spin 3s infinite;
  }

  a {
    color: white;
    font-size: 25px;
    margin-right: 15px;
  }

  .email{
    @media (max-width: 628px) {
      display: none;
    }
  }
}

.header-right{
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu {
  background: #111728;
  width: 100%;
  height: 100vh;
  z-index: 1;
  transition: 0.2s ease-in-out;
  display: flex;
  margin-top: 58.5px;
  position: fixed;
  overflow: hidden;

  padding-right: 20px;
  text-align: right;
  font-size: 20px;

  nav {
    margin-left: auto;
    padding-top: 40px;

    a {
      display: block;
      color: white;
    }
  }
}

.menu-open {
  height: 30vh;
}

.menu-closed {
  height: 0;
}

.menu-bar {
  font-size: 25px;
}
