main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  padding-left: 2%;
  padding-right: 2%;
  height: 100svh;
  overflow: hidden;

  p {
    color: #c7d6ff;
  }
}

.main-content {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2%;
  height: 100%;
  transition: 0.3s ease-in-out;
}

main h1 {
  font-size: clamp(2rem, 2.5vw, 4rem);
  line-height: 1;
  color: white;
  margin-bottom: 10px;
}

.input-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-radius: 18px;
  
  button{
    border-radius:12px ;
  }
}

input {
  height: 50px;
  width: 100%;
  border-radius: 3px;
  border: none;
  background: none;
  color: black;
  padding-left: 20px;
  font-size: 16px;
}

.test {
  display: none;
}

button {
  width: 100%;
  max-width: 50px;
  height: 50px;
  background: #567bf7;;
  border: 0;
  border-radius: 5px;
  font-weight: bolder;
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin: 8px;
}

.success {
  color: white;
}
.about {
  min-height: 100svh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.faq-container {
  min-height: 100svh;
  width: 100%;
  color: white;
}

.category-container {
  margin-top: 30px;

  h2 {
    margin-bottom: 12px;
  }
}

.waitlist {
  color: #567bf7;
  margin-top: 0 !important;
  font-weight: bold;
  transform: translateX(-30px);
}

.arrow {
  width: 80px;
  transform: rotate(-50deg);
  margin-bottom: 20px;
}

.waitlist-container {
  transform: translateX(-60px);
  margin-top: 10px;
}

.billboard {
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  p {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

.how-it-works {
  min-height: 100svh;
  h1 {
    margin-bottom: 50px;
  }
}

.box {
  width: 100%;
  background: #101626;
  margin-bottom: 20px;
  color: white;
  padding: 40px;

  h4 {
    margin-bottom: 12px;
  }
}

section {
  min-height: 100svh;
  overflow-y: auto;
  padding-top: 100px;
}

.arrow-container {
  color: white;
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: flex;
  gap: 0px;
  z-index: 4;
}

.arrow-button {
  height: 40px;
  width: 40px;
}

.privacy-policy-cta {
  position: absolute;
  bottom: 15px;
  text-decoration: underline;
}

.privacy-policy {
  height: 100svh;
  background: #080b13;
  z-index: 5;
  text-align: left;
  transition: 0.3s ease-in-out;
  padding-top: 30px;
  position: fixed;
  bottom: 0;
  left: 0;
  overflow: auto;
padding-bottom: 100px;

h2{
  margin-top: 30px;
margin-bottom: 35px;
}
}

.visible {
  transform: translateY(0%);
}

.hidden {
  transform: translateY(100%);
}
