main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  padding-left: 2%;
  padding-right: 2%;

  p {
    color: #c7d6ff;
  }
}

.main-content {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2%;
  height: 100%;
  transition: 0.3s ease-in-out;
}

main h1 {
  font-size: clamp(2rem, 2.5vw, 4rem);
  line-height: 1;
  color: white;
  margin-bottom: 10px;
}

.input-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-radius: 18px;

  button {
    border-radius: 12px;
  }
}

input {
  height: 100%;
  width: 100%;
  border-radius: 3px;
  border: none;
  background: none;
  color: black;
  padding-left: 20px;
  font-size: 16px;
}

.test {
  display: none;
}

button {
  width: 100%;
  max-width: fit-content;
  padding: 15px 25px;

  background: #567bf7;
  border: 0;
  border-radius: 50px;
  font-weight: bolder;
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.success {
  color: white;
}
.about {
  min-height: 100svh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.faq-container {
  min-height: 100svh;
  width: 100%;
  color: white;
}

.category-container {
  margin-top: 30px;

  h2 {
    margin-bottom: 12px;
  }
}

.waitlist {
  color: #567bf7;
  margin-top: 0 !important;
  font-weight: bold;
  transform: translateX(-30px);
}

.arrow {
  width: 80px;
  transform: rotate(-50deg);
  margin-bottom: 20px;
}

.waitlist-container {
  transform: translateX(-60px);
  margin-top: 10px;
}

.billboard {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  width: 100%;
  max-width: 700px;
  p {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

.how-it-works {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;

  padding-bottom: 100px;

  h1 {
    margin-bottom: 50px;
  }
}

.actors {
  display: flex;
  gap: 10px;

  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.box {
  width: 100%;
  background: #101626;
  color: white;
  padding: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  //min-height: 100svh;
  overflow-y: auto;
  padding-top: 100px;
}

.arrow-button {
  height: 40px;
  width: 40px;
}

.visible {
  transform: translateY(0%);
}

.hidden {
  transform: translateY(100%);
}

.highlight {
  // color: rgb(119, 241, 119);
}

.highlight {
  color: #567bf7;
  font-weight: bold;
}

.contact {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

footer {
  padding-bottom: 50px;
  text-align: center;
}

section {
  width: 100%;
}

.instagram-widget {
  width: 100%;
  position: relative;

}

.blocker {
  width: 100%;
  height: 50px;
  background: #080b13;


  position: absolute;
  bottom: 0;
}
