* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
}



@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

h1,
h2,
h3,
h4 {
  font-family: "Arupala Grotesk";
}

a,
p,
ul,
li {
  font-family: arial;
}

li {
  list-style-position: inside;
}

a {
  color: initial;
  text-decoration: none;
}
