* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background: rgb(14, 14, 14);
}

.logo {
  width: 80px;
  margin-bottom: 15px;
  animation: spin 3s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

h1,
h2,
h3,
h4 {
  font-family: "Arupala Grotesk";
}

a,
p,
ul,
li {
  font-family: arial;
}

li {
  list-style-position: inside;
}

a {
  color: initial;
  text-decoration: none;
}
